/* navbar.component.css */

.navbar {
  font-family: Roboto;
  padding: 10px 5px;
  /* Add some padding for better aesthetics */

}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
  /* Adjust the spacing between navbar items */
}

.nav-item a {
  color: #000000;
  /* Set the text color for navbar links */
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--darkblue);
  /* Change the color on hover */
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #ff8c00;
  /* Add a bottom border to indicate the active link */
}