// $darkblue:rgb(4, 69, 134);
// $lightblue: rgb(190, 214, 238);

:root {
    --secondarytextcolor: #ffbebe;
    --primarytextcolor: #ff3359;
    --balck: #000;
    --orange: rgb(241, 157, 0);
    --white: white;
    --antiquewhite: antiquewhite;
}