.img-blur {
    mask-image: linear-gradient(to right, transparent 40px, var(--secondarytextcolor) 60%);
}

.banner-text {
    color: var(--primarytextcolor);
    font-weight: bold;
    letter-spacing: 0.1em;
}